body{
  background-color: #006b8e;
  font-family: 'Permanent Marker', cursive;
  padding: 0px 15px 0px 15px;
}
btn-primary{
  color:  #006b8e;
}
h1{
  font-size:500%;
}
#quoteDisplay{
  padding-left: 20px;
  float: right;
  height: 100%;
}
#author{
  text-align: right;
  margin-bottom: 30px;
}
#quoteBox{
  padding: 25px 30px 25px 30px;
  background-color: white;
  color: #006b8e;
  border-radius: 25px;
  
  }
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
container-fluid{
  display: flex;
  justify-content: space-around;
}
#title{
  margin-top: -10px;
}
@media(max-width: 480px) {
  h1 {
    font-size: 16pt;
  }
  h2 {
    font-size: 14pt;
  }
  #title{
    font-size:36px;
  }
}